[mysqld]
skip-host-cache
skip-name-resolve
sql-mode="NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"

skip-name-resolve=1

character-set-server=utf8
default-storage-engine=INNODB
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
# log=./log/mysql.log

### 主从配置 ###
# 不同节点的server-id不一样
server-id=1 
log-bin=mysql-bin
gtid_mode=ON
enforce-gtid-consistency=true
skip_slave_start

# 要同步的数据库，可多个binlog-do-db
binlog-do-db=test
# 忽略同步的数据库
binlog-ignore-db=mysql 
